@def boxHeight 16px;
@def boxRadius 5px;
.box { 
	\-moz-border-radius: boxRadius;
	\-webkit-border-radius: boxRadius;
	padding: 5px;
	width: 100%;
	height: boxHeight;
	border: 1px solid #A9ADB8;
}

.button {
	margin-left: 6px;
	width: 17px;
}

.focus {
	color: #000;
	font-style: normal;
}

.blur {
	color: #777;
	font-style: italic;
}